p {
    margin-top: 5px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 80px


}

img {
    padding-left: 500px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-top: 50px;
}

footer {
    margin-top: 100px;
}
